@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.card {
    border-radius: 1em;
    overflow: hidden;
    background-color: #444444;
    display: flex;
    width: 1200px;
    height: 650px;
}

.preview {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.preview__image {
    width: 200px;
    height: 200px;
    background: url("../images/img.png") center / cover;
    border-radius: 50%;
    margin-top: 80px;
    -webkit-box-shadow: 5px 5px 2px 2px rgba(94, 94, 94, 1);
    -moz-box-shadow: 5px 5px 2px 2px rgba(94, 94, 94, 1);
    box-shadow: 5px 5px 2px 2px rgba(94, 94, 94, 1);
}

.preview__header {
    margin-top: 15px;
    font-size: 42px;
}

.preview__text {
    font-size: 20px;
}

.social {
    margin-top: 15px;
    display: flex;
    width: 70%;
    justify-content: center;
}

.social__item {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.preview__button {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 100em;
    background: transparent;
    border: 3px solid white;
    color: white;
    transition: background-color .2s linear;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: white;
    color: black;
}

.copyright {
    margin-top: auto;
    font-size: 14px;
    padding-bottom: 10px;
}

.info {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 15px 0 0 15px;
}

.info__title {
    font-size: 60px;
}

.info__subtitle {
    font-weight: normal;
}
